Flask
Flask-Login
Flask-Mail
Flask-SocketIO
Flask-WTF
Flask-Limiter
Werkzeug
SQLAlchemy
authlib
python-dotenv
textblob
google-cloud-vision
google-cloud-secret-manager
google-cloud-storage
google-auth
google-generativeai
google-genai
sentence-transformers
cohere
torch
psycopg2-binary
reportlab
openai
groq
faiss-cpu 
python-pptx
python-docx
pypdf
PyPDF2
langchain
langchain-core
langchain-community
langchain-openai
gtts
cryptography
bleach
tinycss2
Pillow
gunicorn
eventlet